body {
  font-family: Garamond;
  font-size: 20px;
  color: white;
  background-color: black;
  background-image: url("bg.png");
}

.main {
  text-align: center;
  background-color: black;
  margin: auto;
  width: 500px;
  padding: 10px 20px;
  outline: 2px solid white; 
}

.button {
  background-color: black;
  margin: auto;
  width: fit-content;
  padding: 5px;
  outline: 2px solid white;
}

.indeximg {
  display: block;
  margin: auto;
  width: 90vw;	
}

a {
  color: white;
}

a:hover {
  font-weight: bold;
}

h1 {
  font-size: 30px;
  margin: 0px;
  padding: 0px;
}
